/* Default styles for all devices */
.digages-hide-on-desktop, .digages-hide-on-tablet, .digages-hide-on-mobile {
    display: block;
}

/* hide on desktop (screens wider than 1024px) */
@media (min-width: 1025px) {
    .digages-hide-on-desktop {
        display: none;
    }
}

/* hide on tablet (screens between 768px and 1024px) */
@media (min-width: 768px) and (max-width: 1024px) {
    .digages-hide-on-tablet {
        display: none;
    }
}

/* hide on mobile (screens smaller than 768px) */
@media (max-width: 767px) {
    .digages-hide-on-mobile {
        display: none;
    }
}
